.calendarview{
    width: 100%;
    max-width: 512px;
    height: auto;
    min-height: 292px;
}

/* Tablet styles */
@media (max-width: 768px) {
    .calendarview {
        max-width: 100%;
    }
}

/* Mobile styles */
@media (max-width: 480px) {
    .calendarview {
        min-height: 250px;
    }
}