.ldbody{
    display: flex;
    flex-direction: column;
}
.right-nav{
    width: 90%;
    min-width: 1024px;
    background-color: white;
    margin-left: 16px;
    margin-top: 16px;
    height: 100vh;
    margin-right: 16px;
}
.right-nav .header-height{
    height: 72px;
    border-bottom: 1px solid gainsboro;
    align-content: center;
    margin-top: -44px;
}
.select-flex-row{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 752px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 16px;
}
.select-flex{
    display: flex;
    flex-direction: column;
}
.select-h4-default{
    margin-top: 16px;
    font-size: 14px;
}
.select-big{
    width: 292px;
    height: 40px;
    margin-left: 64px;
    padding-left: 4px;
    border: 1px solid rgba(193, 188, 188, 0.859);
    border-radius: 2px;
    margin-top: -16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-design{
    width: 24px;
    height: 24px;
    margin-left: 64px;
}
default-margin-4{
  margin-left: 64px;
}