/* .body{
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica','Arial', sans-serif;
    box-sizing: border-box;
} */
.details-header{
    display: flex;
    justify-content: space-between;
    height: 72px;
    width: 100%;
    border: 1px solid gainsboro;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.details-header .logo-container{
  width: 128px;
  height: auto;
  border-right: 1px solid gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-header .title{
    width: auto;
    height: auto;
    border-right: 1px solid gainsboro;
    padding: 16px;
    height: 40px;
    text-align: left;
}
.details-header .price{
    border-right: 1px solid gainsboro;
    padding: 16px;
    height: 40px;
}
.details-header .measurements{
    width: auto;
    height: 40px;
    width: 108px;
    border-right: 1px solid gainsboro;
    padding: 16px;
}
.details-header .deposit{
    width: auto;
    height: 40px;
    width: 108px;
    padding: 16px;
}

.details-header p{
    margin-top: -16px;
}
.title-height{
   margin-top: -8px;
}
.right-container-default{
 display: grid;
 flex-direction: column;
}

.grid-container-2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  width: 512px;
  height: 320px;
  margin-left: 16px;
}

.grid-item-2 {
  display: flex;
  justify-content:space-around;
  align-items: center;
  color: black;
  height: 60px;
  flex-direction: row;
  margin: 2px;
  border: 1px solid gainsboro;
  margin: 8px;
}

.grid-item-inneritem{
    text-align: left;
    padding-top: 8px;
    margin-left: -60px;
    width: 128px;
    height: 40px;
}
.details-container{
    display: flex;
    height: auto;
    height: 512px;
    border: 1px solid gainsboro;
    margin: 16px;
}
.details-container-image-slider{
 height: 512px;
 width: 860px;
 background-color: gainsboro;
 overflow: hidden;
 position: relative;
}
.details-container-image-slider img {
  position: absolute;
  width: 720px;
  height: 512px;
  border: none;
  overflow: hidden; /* Hide scrollbars */
  object-fit: contain;
}
.details-btn-footer{
    display: flex;
    flex-direction: row;
    height: 56px;
    width: 512px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: -64px;
    background-color: rgba(220, 220, 220, 0.299);
    justify-content: space-evenly;
}
.btn-default2{
    height: 40px;
    width: 100%;
    background-color: rgb(231, 18, 71);
    color: white;
    border-radius: 1px;
    margin: 8px;
}
.span-img-default{
    height: 24px;
    width: 24px;
}
.span-img-default-2{
    height: 24px;
    width: 24px;
    padding-left: 16px;
}
.overview-default{
    display: flex;
    justify-content: space-between;
}
.grid-container-3 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    width: 55%;
    height: 320px;
    margin-left: 16px;
  }
.grid-item-3 {
    display: flex;
    justify-content:space-around;
    align-items: left;
    color: black;
    height: 60px;
    flex-direction: row;
    margin: 2px;
    border-bottom: 1px dotted gainsboro;
    margin: 8px;
  }
  
  .grid-item-inneritem-3{
      text-align: left;
      padding-top: 8px;
      margin-left: -60px;
      width: auto;
      height: 40px;
  }
  .span-default-0{
    font-weight: 500;
    font: bold;
  }

  .parent-default0{
    border: 1px solid gainsboro;
    width: 40%;
    height: 192px;
  }

  .header-default-0{
    padding-left: 16px;
  }
  .hr-default-0{
    background: gainsboro;
    margin-left: 16px;
    margin-right: 16px;
  }
  .background-default-0{
    background-color: rgba(202, 226, 202, 0.384);
    margin-left: 16px;
    width: 128px;
    height: 92px;
    padding-left: 8px;
  }
  .background-default-1{
    background-color: red;
  }
  .default-text-0{
    margin-top: -16px;
    text-align: center;
  }
  .default-text-1{
    text-align: left;
    padding-left: 8px;
    margin-top: 4px;
  }
  .flexview-default{
    display: flex;
    justify-content: space-around;
}
 .parent-default1{
    border: 1px solid gainsboro;
    width: 100%;
    height: 640px;
    box-shadow: rgba(128, 128, 128, 0.379);
    margin-top: 16px;
 }
 .parent-default2{
    border: 1px solid gainsboro;
    width: 100%;
    height: 240px;
    background-color: #ffffff;
    box-shadow: rgba(128, 128, 128, 0.379);
 }
 .header-default-1{
    padding-left: 16px;
    text-decoration: underline;
    text-decoration-color: rgb(231, 41, 72);
    text-underline-offset: 16px;
  }
  .btn-default-1{
    color: rgb(231, 41, 72);
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: 0px;
    outline: transparent;
    background-color: transparent;
  }
  .btn-default-1:hover{
    outline: none;
  }
  .overview-default-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
  .overview-default-2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  
  }
  .quickview-parent-default{
    margin-left: 16px;
  }
  .input-default-1{
    height: 40px;
    min-width: 384px;
    border-radius: 0px;
    border: 1px solid gainsboro;
    padding-left: 8px;
  }
  .input-default-1:focus {
    outline: none;
}

.btn-default-1{
    height: 40px;
    min-width: 252px;
    border-radius: 0px;
    border: 1px solid rgb(220, 55, 55);
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .btn-default-1:focus {
    outline: none;
}