.body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica','Arial', sans-serif;
    box-sizing: border-box;
}


.container-default-1{
    display: flex;
    background-color: yellow;
    
}
.conatiner-default-0{
    display: flex;
    flex-direction: column;
    margin-left: 496px;
    height: 100vh;
}
.conatiner-default-2{
    display: flex;
    flex-direction: column;
}

/* Tablet styles */
@media (max-width: 900px) {
    .conatiner-default-0 {
        margin-left: 0;
        width: 100%;
    }
}

/* Mobile styles */
@media (max-width: 600px) {
    .conatiner-default-0 {
        margin-left: 0;
        padding: 8px;
    }
}