.top-default{
    display: flex;
    width:  auto;
    height: 92px;
    justify-content: space-between;
    margin-top: -16px;
    box-sizing: border-box;
}
.top-default-col{
    display: flex;
    flex-direction: column;
    height: auto;
<<<<<<< Updated upstream
    background-color: rgba(220, 220, 220, 0.345);
=======
    background-color: #FFFFFF;
    margin-left: 16px;
    width: calc(100% - 32px);
>>>>>>> Stashed changes
}
.top-details{
    display: flex;
    height: 40px;
    margin-left: 16px;
    margin-top: 16px;
    width: auto;
    padding: 16px;
    margin-right: 16px;
    text-align: center;
   
}
.default-text{
    text-align: left;
    margin-right: 16px;
    padding-left: 32px;
    font-weight: 400;
    font-size: 20px;
    margin-top: -8px;
    margin-bottom: 16px;
}
.select-default-bg{
    outline: none;
    border: 1px solid gainsboro;
    border-radius: 8px;
    margin-left: 16px;
    height: 40px;
}

.text-default-center{
    text-align: center;
    margin-top: 8px;
}